<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>create room</h2>
<div>
    <label for="gm-name-text">userName: </label>
    <input type="text" id="gm-name-text" value="gmA">
    <label for="room-name-text">roomName: </label>
    <input type="text" id="room-name-text" value="roomA">
    <label for="room-password-text">pass: </label>
    <input type="text" id="room-password-text" value="123456">
    <button id="create-button">create</button>
</div>
<div id="create-result-div"></div>

<h2>auth</h2>
<div>
    <label for="token-text">Auth Token: </label>
    <input type="text" id="token-text" value="hogehoge">
    <button id="auth-button">auth</button>
    <button id="sse-button">start sse</button>
    <div th:text="${context}"></div>
</div>

<h2>users</h2>
<button id="users-button">users</button>
<div id="users-div"></div>

<h2>approve user</h2>
<div>
    <input type="text" id="user-id-text" value="">
    <input type="text" id="user-name-text" value="">
    <button id="approve-button">approve</button>
    <button id="reject-button">reject</button>
    <div id="auth-token"></div>
</div>

<h2>sse notification</h2>
<ul id="list"></ul>
<script th:inline="javascript">
    {
        const csrfHeaderName = /*[[${_csrf.headerName}]]*/ "";
        const csrfToken = /*[[${_csrf.token}]]*/ "";
        document.querySelector("#create-button").addEventListener('click', () => {
            const userName = document.getElementById("gm-name-text").value
            const roomName = document.getElementById("room-name-text").value
            const password = document.getElementById("room-password-text").value
            fetch("/api/room/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json;",
                    [csrfHeaderName]: csrfToken
                },
                body: JSON.stringify({
                    roomName: roomName,
                    userName: userName,
                    password: password
                })
            }).then(data => data.body.getReader())
                .then(reader => {
                    reader.read().then(({done, value}) => {
                        const json = new TextDecoder().decode(value)
                        document.getElementById("create-result-div").textContent = json
                        document.getElementById("token-text").value = JSON.parse(json).authToken
                    })
                })
        })

        document.querySelector("#auth-button").addEventListener('click', () => {
            fetch("/auth", {
                method: "POST",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded;",
                    [csrfHeaderName]: csrfToken
                },
                body: "authToken=" + document.querySelector("#token-text").value
            }).then(data => {
                console.log(data)
                location.reload()
            })
        })

        document.querySelector("#sse-button").addEventListener('click', (e) => {
            const eventList = document.getElementById("list");
            const evtSource = new EventSource(`/api/subscribe/approved`);
            const handler = (e, event) => {
                const newElement = document.createElement("li");
                newElement.innerHTML = `${event}: ${e.data}`
                eventList.appendChild(newElement);
                return JSON.parse(e.data);
            };
            evtSource.addEventListener("APPLIED",
                (e) => {
                    const result = handler(e, "applied");
                    document.getElementById("user-id-text").value = result.id;
                    document.getElementById("user-name-text").value = result.name;
                }, false);
            evtSource.addEventListener("JOINED", (e) => handler(e, "joined"), false);
            e.target.setAttribute("disabled", "disabled");
        });

        document.querySelector("#users-button").addEventListener('click', () => {
            fetch("/api/room/users", {
                method: "GET",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded;"
                }
            }).then(data => data.body.getReader())
                .then(reader => {
                    reader.read().then(({done, value}) => {
                        const json = new TextDecoder().decode(value)
                        document.getElementById("users-div").textContent = json
                    })
                })
        })

        document.querySelector("#approve-button").addEventListener('click', () => {
            const userId = document.getElementById("user-id-text").value;
            const userName = document.getElementById("user-name-text").value;
            fetch("/api/gm/approve", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                    [csrfHeaderName]: csrfToken
                },
                body: JSON.stringify({
                    userId: userId,
                    userName: userName
                })
            }).then(data => {
                data.json().then(body => {
                    console.log(body)
                    document.getElementById("auth-token").textContent = JSON.stringify(body);
                });
            })
        })

        document.querySelector("#reject-button").addEventListener('click', () => {
            const userId = document.getElementById("user-id-text").value;
            fetch("/api/gm/reject", {
                method: "POST",
                credentials: 'same-origin',
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                    [csrfHeaderName]: csrfToken
                },
                body: JSON.stringify({
                    userId: userId
                })
            })
        });
    }
</script>
</body>
</html>