<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>apply</h2>
<div>
    <label for="room-id-text">roomId: </label>
    <input type="text" id="room-id-text" value="1">
    <br>
    <label for="room-password-text">password: </label>
    <input type="text" id="room-password-text" value="1">
    <br>
    <label for="user-name-text">userName: </label>
    <input type="text" id="user-name-text" value="userA">
    <br>
    <button id="apply-button">apply</button>
</div>

<h2>auth</h2>
<div>
    <label for="token-text">Auth Token: </label>
    <input type="text" id="token-text" value="">
    <button id="auth-button">auth</button>
    <button id="sse-button">start auth sse</button>
    <div th:text="${context}"></div>
</div>

<h2>sse notification</h2>
<ul id="list"></ul>

<script th:inline="javascript">
    {
        const csrfHeaderName = /*[[${_csrf.headerName}]]*/ "";
        const csrfToken = /*[[${_csrf.token}]]*/ "";
        document.querySelector("#apply-button").addEventListener('click', () => {
            const password = document.querySelector("#room-password-text").value
            const userName = document.querySelector("#user-name-text").value
            const roomId = document.querySelector("#room-id-text").value
            fetch("/api/user/apply", {
                method: "POST",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                    [csrfHeaderName]: csrfToken
                },
                body: JSON.stringify({
                    roomId: roomId,
                    roomKey: password,
                    userName: userName
                })
            })
                .then(data => data.body.getReader())
                .then(reader => {
                    reader.read().then(({done, value}) => {
                        const data = new TextDecoder().decode(value)
                        console.log(data)
                        const eventList = document.getElementById("list");
                        const evtSource = new EventSource(`/api/subscribe/unapproved?roomId=${roomId}&userId=${JSON.parse(data).userId}`);
                        const handler = (e, event) => {
                            const newElement = document.createElement("li");
                            newElement.innerHTML = `${event}: ${e.data}`
                            eventList.appendChild(newElement);
                            return JSON.parse(e.data);
                        };
                        evtSource.addEventListener("APPROVED", (e) => {
                            const result = handler(e, "approved");
                            document.getElementById("token-text").value = result.token
                        }, false);
                        evtSource.addEventListener("REJECTED", (e) => handler(e, "rejected"), false);
                    })
                })
        });


        document.querySelector("#auth-button").addEventListener('click', () => {
            fetch("/auth", {
                method: "POST",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded;",
                    [csrfHeaderName]: csrfToken
                },
                body: "authToken=" + document.querySelector("#token-text").value
            }).then(data => {
                console.log(data)
                location.reload()
            })
        });

        document.querySelector("#sse-button").addEventListener('click', (e) => {
            const eventList = document.getElementById("list");
            const evtSource = new EventSource(`/api/subscribe/approved?roomId=1`);
            const handler = (e, event) => {
                const newElement = document.createElement("li");
                newElement.innerHTML = `${event}: ${e.data}`
                eventList.appendChild(newElement);
                return JSON.parse(e.data);
            };
            evtSource.addEventListener("APPLIED", (e) => handler(e, "applied"), false);
            evtSource.addEventListener("JOINED", (e) => handler(e, "joined"), false);
            e.target.setAttribute("disabled", "disabled");
        });
    }
</script>
</body>
</html>