<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>message</h2>
<div>
    <label for="token-text">Auth Token: </label>
    <input type="text" id="token-text">
    <button id="auth-button">auth</button>
    <div th:text="${context}"></div>
    <br>
    <textarea id="message" cols="30" rows="10"></textarea>
    <button id="button">send message</button>
</div>

<ul id="list"></ul>
<script th:inline="javascript">
    {
        document.querySelector("#auth-button").addEventListener('click', () => {
            fetch("/auth", {
                method: "POST",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded;"
                },
                body: "authToken=" + document.querySelector("#token-text").value
            }).then(data => {
                console.log(data)
            })
        })

        const uuid = /*[[${uuid}]]*/ "";
        document.querySelector("#button").addEventListener('click', () => {
            const message = document.querySelector("#message").value
            fetch("event/post", {
                method: "POST",
                credentials: 'include',
                headers: {
                    "Content-Type": "application/json; charset=utf-8"
                },
                body: JSON.stringify({
                    id: uuid,
                    value: message
                })
            })
                .then(data => {
                    console.log(data)
                })
        });

        const eventList = document.getElementById("list");
        const evtSource = new EventSource(`notify/${uuid}`);
        evtSource.addEventListener("notify", function (e) {
            const newElement = document.createElement("li");
            //const obj = JSON.parse(e.data);
            newElement.innerHTML = e.data
            eventList.appendChild(newElement);
        }, false);
    }
</script>
</body>
</html>